#cardJournal{
    max-width: 75%;
    margin: 1% auto;
}

#cardProfil{
    max-width: 50%;
    margin: 1% auto;
}

#cardChartSucre{
    max-width: 40%;
    margin: 1% auto;
}

#cardChartSel{
    max-width: 40%;
    margin: 1% auto;
}

#cardTableApport{
    max-width: 40%;
    margin: 1% auto;
}

#cardChartCalorie{
    max-width: 40%;
    margin: 1% auto;
}

#cardChartProteines{
    max-width: 40%;
    margin: 1% auto;
}

#cardChartFat{
    max-width: 40%;
    margin: 1% auto;
}